.chrys-background-color-brewer-rdgy-3-1 {
  background-color: #999999; }

.chrys-background-color-brewer-rdgy-3-2 {
  background-color: #ffffff; }

.chrys-background-color-brewer-rdgy-3-3 {
  background-color: #ef8a62; }

.chrys-background-color-brewer-rdgy-4-1 {
  background-color: #404040; }

.chrys-background-color-brewer-rdgy-4-2 {
  background-color: #bababa; }

.chrys-background-color-brewer-rdgy-4-3 {
  background-color: #f4a582; }

.chrys-background-color-brewer-rdgy-4-4 {
  background-color: #ca0020; }

.chrys-background-color-brewer-rdgy-5-1 {
  background-color: #404040; }

.chrys-background-color-brewer-rdgy-5-2 {
  background-color: #bababa; }

.chrys-background-color-brewer-rdgy-5-3 {
  background-color: #ffffff; }

.chrys-background-color-brewer-rdgy-5-4 {
  background-color: #f4a582; }

.chrys-background-color-brewer-rdgy-5-5 {
  background-color: #ca0020; }

.chrys-background-color-brewer-rdgy-6-1 {
  background-color: #4d4d4d; }

.chrys-background-color-brewer-rdgy-6-2 {
  background-color: #999999; }

.chrys-background-color-brewer-rdgy-6-3 {
  background-color: #e0e0e0; }

.chrys-background-color-brewer-rdgy-6-4 {
  background-color: #fddbc7; }

.chrys-background-color-brewer-rdgy-6-5 {
  background-color: #ef8a62; }

.chrys-background-color-brewer-rdgy-6-6 {
  background-color: #b2182b; }

.chrys-background-color-brewer-rdgy-7-1 {
  background-color: #4d4d4d; }

.chrys-background-color-brewer-rdgy-7-2 {
  background-color: #999999; }

.chrys-background-color-brewer-rdgy-7-3 {
  background-color: #e0e0e0; }

.chrys-background-color-brewer-rdgy-7-4 {
  background-color: #ffffff; }

.chrys-background-color-brewer-rdgy-7-5 {
  background-color: #fddbc7; }

.chrys-background-color-brewer-rdgy-7-6 {
  background-color: #ef8a62; }

.chrys-background-color-brewer-rdgy-7-7 {
  background-color: #b2182b; }

.chrys-background-color-brewer-rdgy-8-1 {
  background-color: #4d4d4d; }

.chrys-background-color-brewer-rdgy-8-2 {
  background-color: #878787; }

.chrys-background-color-brewer-rdgy-8-3 {
  background-color: #bababa; }

.chrys-background-color-brewer-rdgy-8-4 {
  background-color: #e0e0e0; }

.chrys-background-color-brewer-rdgy-8-5 {
  background-color: #fddbc7; }

.chrys-background-color-brewer-rdgy-8-6 {
  background-color: #f4a582; }

.chrys-background-color-brewer-rdgy-8-7 {
  background-color: #d6604d; }

.chrys-background-color-brewer-rdgy-8-8 {
  background-color: #b2182b; }

.chrys-background-color-brewer-rdgy-9-1 {
  background-color: #4d4d4d; }

.chrys-background-color-brewer-rdgy-9-2 {
  background-color: #878787; }

.chrys-background-color-brewer-rdgy-9-3 {
  background-color: #bababa; }

.chrys-background-color-brewer-rdgy-9-4 {
  background-color: #e0e0e0; }

.chrys-background-color-brewer-rdgy-9-5 {
  background-color: #ffffff; }

.chrys-background-color-brewer-rdgy-9-6 {
  background-color: #fddbc7; }

.chrys-background-color-brewer-rdgy-9-7 {
  background-color: #f4a582; }

.chrys-background-color-brewer-rdgy-9-8 {
  background-color: #d6604d; }

.chrys-background-color-brewer-rdgy-9-9 {
  background-color: #b2182b; }

.chrys-background-color-brewer-rdgy-10-1 {
  background-color: #1a1a1a; }

.chrys-background-color-brewer-rdgy-10-2 {
  background-color: #4d4d4d; }

.chrys-background-color-brewer-rdgy-10-3 {
  background-color: #878787; }

.chrys-background-color-brewer-rdgy-10-4 {
  background-color: #bababa; }

.chrys-background-color-brewer-rdgy-10-5 {
  background-color: #e0e0e0; }

.chrys-background-color-brewer-rdgy-10-6 {
  background-color: #fddbc7; }

.chrys-background-color-brewer-rdgy-10-7 {
  background-color: #f4a582; }

.chrys-background-color-brewer-rdgy-10-8 {
  background-color: #d6604d; }

.chrys-background-color-brewer-rdgy-10-9 {
  background-color: #b2182b; }

.chrys-background-color-brewer-rdgy-10-10 {
  background-color: #67001f; }

.chrys-background-color-brewer-rdgy-11-1 {
  background-color: #1a1a1a; }

.chrys-background-color-brewer-rdgy-11-2 {
  background-color: #4d4d4d; }

.chrys-background-color-brewer-rdgy-11-3 {
  background-color: #878787; }

.chrys-background-color-brewer-rdgy-11-4 {
  background-color: #bababa; }

.chrys-background-color-brewer-rdgy-11-5 {
  background-color: #e0e0e0; }

.chrys-background-color-brewer-rdgy-11-6 {
  background-color: #ffffff; }

.chrys-background-color-brewer-rdgy-11-7 {
  background-color: #fddbc7; }

.chrys-background-color-brewer-rdgy-11-8 {
  background-color: #f4a582; }

.chrys-background-color-brewer-rdgy-11-9 {
  background-color: #d6604d; }

.chrys-background-color-brewer-rdgy-11-10 {
  background-color: #b2182b; }

.chrys-background-color-brewer-rdgy-11-11 {
  background-color: #67001f; }
