.chrys-background-color-brewer-greys-3-1 {
  background-color: #636363; }

.chrys-background-color-brewer-greys-3-2 {
  background-color: #bdbdbd; }

.chrys-background-color-brewer-greys-3-3 {
  background-color: #f0f0f0; }

.chrys-background-color-brewer-greys-4-1 {
  background-color: #525252; }

.chrys-background-color-brewer-greys-4-2 {
  background-color: #969696; }

.chrys-background-color-brewer-greys-4-3 {
  background-color: #cccccc; }

.chrys-background-color-brewer-greys-4-4 {
  background-color: #f7f7f7; }

.chrys-background-color-brewer-greys-5-1 {
  background-color: #252525; }

.chrys-background-color-brewer-greys-5-2 {
  background-color: #636363; }

.chrys-background-color-brewer-greys-5-3 {
  background-color: #969696; }

.chrys-background-color-brewer-greys-5-4 {
  background-color: #cccccc; }

.chrys-background-color-brewer-greys-5-5 {
  background-color: #f7f7f7; }

.chrys-background-color-brewer-greys-6-1 {
  background-color: #252525; }

.chrys-background-color-brewer-greys-6-2 {
  background-color: #636363; }

.chrys-background-color-brewer-greys-6-3 {
  background-color: #969696; }

.chrys-background-color-brewer-greys-6-4 {
  background-color: #bdbdbd; }

.chrys-background-color-brewer-greys-6-5 {
  background-color: #d9d9d9; }

.chrys-background-color-brewer-greys-6-6 {
  background-color: #f7f7f7; }

.chrys-background-color-brewer-greys-7-1 {
  background-color: #252525; }

.chrys-background-color-brewer-greys-7-2 {
  background-color: #525252; }

.chrys-background-color-brewer-greys-7-3 {
  background-color: #737373; }

.chrys-background-color-brewer-greys-7-4 {
  background-color: #969696; }

.chrys-background-color-brewer-greys-7-5 {
  background-color: #bdbdbd; }

.chrys-background-color-brewer-greys-7-6 {
  background-color: #d9d9d9; }

.chrys-background-color-brewer-greys-7-7 {
  background-color: #f7f7f7; }

.chrys-background-color-brewer-greys-8-1 {
  background-color: #252525; }

.chrys-background-color-brewer-greys-8-2 {
  background-color: #525252; }

.chrys-background-color-brewer-greys-8-3 {
  background-color: #737373; }

.chrys-background-color-brewer-greys-8-4 {
  background-color: #969696; }

.chrys-background-color-brewer-greys-8-5 {
  background-color: #bdbdbd; }

.chrys-background-color-brewer-greys-8-6 {
  background-color: #d9d9d9; }

.chrys-background-color-brewer-greys-8-7 {
  background-color: #f0f0f0; }

.chrys-background-color-brewer-greys-8-8 {
  background-color: #ffffff; }

.chrys-background-color-brewer-greys-9-1 {
  background-color: #000000; }

.chrys-background-color-brewer-greys-9-2 {
  background-color: #252525; }

.chrys-background-color-brewer-greys-9-3 {
  background-color: #525252; }

.chrys-background-color-brewer-greys-9-4 {
  background-color: #737373; }

.chrys-background-color-brewer-greys-9-5 {
  background-color: #969696; }

.chrys-background-color-brewer-greys-9-6 {
  background-color: #bdbdbd; }

.chrys-background-color-brewer-greys-9-7 {
  background-color: #d9d9d9; }

.chrys-background-color-brewer-greys-9-8 {
  background-color: #f0f0f0; }

.chrys-background-color-brewer-greys-9-9 {
  background-color: #ffffff; }

.chrys-background-color-brewer-greys-10-1 {
  background-color: #000000; }

.chrys-background-color-brewer-greys-10-2 {
  background-color: #1c1c1c; }

.chrys-background-color-brewer-greys-10-3 {
  background-color: #383838; }

.chrys-background-color-brewer-greys-10-4 {
  background-color: #555555; }

.chrys-background-color-brewer-greys-10-5 {
  background-color: #717171; }

.chrys-background-color-brewer-greys-10-6 {
  background-color: #8d8d8d; }

.chrys-background-color-brewer-greys-10-7 {
  background-color: #aaaaaa; }

.chrys-background-color-brewer-greys-10-8 {
  background-color: #c6c6c6; }

.chrys-background-color-brewer-greys-10-9 {
  background-color: #e2e2e2; }

.chrys-background-color-brewer-greys-10-10 {
  background-color: #ffffff; }

.chrys-background-color-brewer-greys-11-1 {
  background-color: #000000; }

.chrys-background-color-brewer-greys-11-2 {
  background-color: #191919; }

.chrys-background-color-brewer-greys-11-3 {
  background-color: #333333; }

.chrys-background-color-brewer-greys-11-4 {
  background-color: #4c4c4c; }

.chrys-background-color-brewer-greys-11-5 {
  background-color: #666666; }

.chrys-background-color-brewer-greys-11-6 {
  background-color: #7f7f7f; }

.chrys-background-color-brewer-greys-11-7 {
  background-color: #999999; }

.chrys-background-color-brewer-greys-11-8 {
  background-color: #b2b2b2; }

.chrys-background-color-brewer-greys-11-9 {
  background-color: #cccccc; }

.chrys-background-color-brewer-greys-11-10 {
  background-color: #e5e5e5; }

.chrys-background-color-brewer-greys-11-11 {
  background-color: #ffffff; }
