.chrys-background-color-brewer-pubu-3-1 {
  background-color: #2b8cbe; }

.chrys-background-color-brewer-pubu-3-2 {
  background-color: #a6bddb; }

.chrys-background-color-brewer-pubu-3-3 {
  background-color: #ece7f2; }

.chrys-background-color-brewer-pubu-4-1 {
  background-color: #0570b0; }

.chrys-background-color-brewer-pubu-4-2 {
  background-color: #74a9cf; }

.chrys-background-color-brewer-pubu-4-3 {
  background-color: #bdc9e1; }

.chrys-background-color-brewer-pubu-4-4 {
  background-color: #f1eef6; }

.chrys-background-color-brewer-pubu-5-1 {
  background-color: #045a8d; }

.chrys-background-color-brewer-pubu-5-2 {
  background-color: #2b8cbe; }

.chrys-background-color-brewer-pubu-5-3 {
  background-color: #74a9cf; }

.chrys-background-color-brewer-pubu-5-4 {
  background-color: #bdc9e1; }

.chrys-background-color-brewer-pubu-5-5 {
  background-color: #f1eef6; }

.chrys-background-color-brewer-pubu-6-1 {
  background-color: #045a8d; }

.chrys-background-color-brewer-pubu-6-2 {
  background-color: #2b8cbe; }

.chrys-background-color-brewer-pubu-6-3 {
  background-color: #74a9cf; }

.chrys-background-color-brewer-pubu-6-4 {
  background-color: #a6bddb; }

.chrys-background-color-brewer-pubu-6-5 {
  background-color: #d0d1e6; }

.chrys-background-color-brewer-pubu-6-6 {
  background-color: #f1eef6; }

.chrys-background-color-brewer-pubu-7-1 {
  background-color: #034e7b; }

.chrys-background-color-brewer-pubu-7-2 {
  background-color: #0570b0; }

.chrys-background-color-brewer-pubu-7-3 {
  background-color: #3690c0; }

.chrys-background-color-brewer-pubu-7-4 {
  background-color: #74a9cf; }

.chrys-background-color-brewer-pubu-7-5 {
  background-color: #a6bddb; }

.chrys-background-color-brewer-pubu-7-6 {
  background-color: #d0d1e6; }

.chrys-background-color-brewer-pubu-7-7 {
  background-color: #f1eef6; }

.chrys-background-color-brewer-pubu-8-1 {
  background-color: #034e7b; }

.chrys-background-color-brewer-pubu-8-2 {
  background-color: #0570b0; }

.chrys-background-color-brewer-pubu-8-3 {
  background-color: #3690c0; }

.chrys-background-color-brewer-pubu-8-4 {
  background-color: #74a9cf; }

.chrys-background-color-brewer-pubu-8-5 {
  background-color: #a6bddb; }

.chrys-background-color-brewer-pubu-8-6 {
  background-color: #d0d1e6; }

.chrys-background-color-brewer-pubu-8-7 {
  background-color: #ece7f2; }

.chrys-background-color-brewer-pubu-8-8 {
  background-color: #fff7fb; }

.chrys-background-color-brewer-pubu-9-1 {
  background-color: #023858; }

.chrys-background-color-brewer-pubu-9-2 {
  background-color: #045a8d; }

.chrys-background-color-brewer-pubu-9-3 {
  background-color: #0570b0; }

.chrys-background-color-brewer-pubu-9-4 {
  background-color: #3690c0; }

.chrys-background-color-brewer-pubu-9-5 {
  background-color: #74a9cf; }

.chrys-background-color-brewer-pubu-9-6 {
  background-color: #a6bddb; }

.chrys-background-color-brewer-pubu-9-7 {
  background-color: #d0d1e6; }

.chrys-background-color-brewer-pubu-9-8 {
  background-color: #ece7f2; }

.chrys-background-color-brewer-pubu-9-9 {
  background-color: #fff7fb; }
