.chrys-background-color-brewer-puor-3-1 {
  background-color: #998ec3; }

.chrys-background-color-brewer-puor-3-2 {
  background-color: #f7f7f7; }

.chrys-background-color-brewer-puor-3-3 {
  background-color: #f1a340; }

.chrys-background-color-brewer-puor-4-1 {
  background-color: #5e3c99; }

.chrys-background-color-brewer-puor-4-2 {
  background-color: #b2abd2; }

.chrys-background-color-brewer-puor-4-3 {
  background-color: #fdb863; }

.chrys-background-color-brewer-puor-4-4 {
  background-color: #e66101; }

.chrys-background-color-brewer-puor-5-1 {
  background-color: #5e3c99; }

.chrys-background-color-brewer-puor-5-2 {
  background-color: #b2abd2; }

.chrys-background-color-brewer-puor-5-3 {
  background-color: #f7f7f7; }

.chrys-background-color-brewer-puor-5-4 {
  background-color: #fdb863; }

.chrys-background-color-brewer-puor-5-5 {
  background-color: #e66101; }

.chrys-background-color-brewer-puor-6-1 {
  background-color: #542788; }

.chrys-background-color-brewer-puor-6-2 {
  background-color: #998ec3; }

.chrys-background-color-brewer-puor-6-3 {
  background-color: #d8daeb; }

.chrys-background-color-brewer-puor-6-4 {
  background-color: #fee0b6; }

.chrys-background-color-brewer-puor-6-5 {
  background-color: #f1a340; }

.chrys-background-color-brewer-puor-6-6 {
  background-color: #b35806; }

.chrys-background-color-brewer-puor-7-1 {
  background-color: #542788; }

.chrys-background-color-brewer-puor-7-2 {
  background-color: #998ec3; }

.chrys-background-color-brewer-puor-7-3 {
  background-color: #d8daeb; }

.chrys-background-color-brewer-puor-7-4 {
  background-color: #f7f7f7; }

.chrys-background-color-brewer-puor-7-5 {
  background-color: #fee0b6; }

.chrys-background-color-brewer-puor-7-6 {
  background-color: #f1a340; }

.chrys-background-color-brewer-puor-7-7 {
  background-color: #b35806; }

.chrys-background-color-brewer-puor-8-1 {
  background-color: #542788; }

.chrys-background-color-brewer-puor-8-2 {
  background-color: #8073ac; }

.chrys-background-color-brewer-puor-8-3 {
  background-color: #b2abd2; }

.chrys-background-color-brewer-puor-8-4 {
  background-color: #d8daeb; }

.chrys-background-color-brewer-puor-8-5 {
  background-color: #fee0b6; }

.chrys-background-color-brewer-puor-8-6 {
  background-color: #fdb863; }

.chrys-background-color-brewer-puor-8-7 {
  background-color: #e08214; }

.chrys-background-color-brewer-puor-8-8 {
  background-color: #b35806; }

.chrys-background-color-brewer-puor-9-1 {
  background-color: #542788; }

.chrys-background-color-brewer-puor-9-2 {
  background-color: #8073ac; }

.chrys-background-color-brewer-puor-9-3 {
  background-color: #b2abd2; }

.chrys-background-color-brewer-puor-9-4 {
  background-color: #d8daeb; }

.chrys-background-color-brewer-puor-9-5 {
  background-color: #f7f7f7; }

.chrys-background-color-brewer-puor-9-6 {
  background-color: #fee0b6; }

.chrys-background-color-brewer-puor-9-7 {
  background-color: #fdb863; }

.chrys-background-color-brewer-puor-9-8 {
  background-color: #e08214; }

.chrys-background-color-brewer-puor-9-9 {
  background-color: #b35806; }

.chrys-background-color-brewer-puor-10-1 {
  background-color: #2d004b; }

.chrys-background-color-brewer-puor-10-2 {
  background-color: #542788; }

.chrys-background-color-brewer-puor-10-3 {
  background-color: #8073ac; }

.chrys-background-color-brewer-puor-10-4 {
  background-color: #b2abd2; }

.chrys-background-color-brewer-puor-10-5 {
  background-color: #d8daeb; }

.chrys-background-color-brewer-puor-10-6 {
  background-color: #fee0b6; }

.chrys-background-color-brewer-puor-10-7 {
  background-color: #fdb863; }

.chrys-background-color-brewer-puor-10-8 {
  background-color: #e08214; }

.chrys-background-color-brewer-puor-10-9 {
  background-color: #b35806; }

.chrys-background-color-brewer-puor-10-10 {
  background-color: #7f3b08; }

.chrys-background-color-brewer-puor-11-1 {
  background-color: #2d004b; }

.chrys-background-color-brewer-puor-11-2 {
  background-color: #542788; }

.chrys-background-color-brewer-puor-11-3 {
  background-color: #8073ac; }

.chrys-background-color-brewer-puor-11-4 {
  background-color: #b2abd2; }

.chrys-background-color-brewer-puor-11-5 {
  background-color: #d8daeb; }

.chrys-background-color-brewer-puor-11-6 {
  background-color: #f7f7f7; }

.chrys-background-color-brewer-puor-11-7 {
  background-color: #fee0b6; }

.chrys-background-color-brewer-puor-11-8 {
  background-color: #fdb863; }

.chrys-background-color-brewer-puor-11-9 {
  background-color: #e08214; }

.chrys-background-color-brewer-puor-11-10 {
  background-color: #b35806; }

.chrys-background-color-brewer-puor-11-11 {
  background-color: #7f3b08; }
