.chrys-background-color-mpl-magma-3-1 {
  background-color: #000003; }

.chrys-background-color-mpl-magma-3-2 {
  background-color: #b53679; }

.chrys-background-color-mpl-magma-3-3 {
  background-color: #fbfcbf; }

.chrys-background-color-mpl-magma-4-1 {
  background-color: #000003; }

.chrys-background-color-mpl-magma-4-2 {
  background-color: #711f81; }

.chrys-background-color-mpl-magma-4-3 {
  background-color: #f0605d; }

.chrys-background-color-mpl-magma-4-4 {
  background-color: #fbfcbf; }

.chrys-background-color-mpl-magma-5-1 {
  background-color: #000003; }

.chrys-background-color-mpl-magma-5-2 {
  background-color: #4f117b; }

.chrys-background-color-mpl-magma-5-3 {
  background-color: #b53679; }

.chrys-background-color-mpl-magma-5-4 {
  background-color: #fb8660; }

.chrys-background-color-mpl-magma-5-5 {
  background-color: #fbfcbf; }

.chrys-background-color-mpl-magma-6-1 {
  background-color: #000003; }

.chrys-background-color-mpl-magma-6-2 {
  background-color: #3b0f6f; }

.chrys-background-color-mpl-magma-6-3 {
  background-color: #8c2980; }

.chrys-background-color-mpl-magma-6-4 {
  background-color: #dd4968; }

.chrys-background-color-mpl-magma-6-5 {
  background-color: #fd9f6c; }

.chrys-background-color-mpl-magma-6-6 {
  background-color: #fbfcbf; }

.chrys-background-color-mpl-magma-7-1 {
  background-color: #000003; }

.chrys-background-color-mpl-magma-7-2 {
  background-color: #2b115e; }

.chrys-background-color-mpl-magma-7-3 {
  background-color: #711f81; }

.chrys-background-color-mpl-magma-7-4 {
  background-color: #b53679; }

.chrys-background-color-mpl-magma-7-5 {
  background-color: #f0605d; }

.chrys-background-color-mpl-magma-7-6 {
  background-color: #feae76; }

.chrys-background-color-mpl-magma-7-7 {
  background-color: #fbfcbf; }

.chrys-background-color-mpl-magma-8-1 {
  background-color: #000003; }

.chrys-background-color-mpl-magma-8-2 {
  background-color: #221150; }

.chrys-background-color-mpl-magma-8-3 {
  background-color: #5d177e; }

.chrys-background-color-mpl-magma-8-4 {
  background-color: #972c7f; }

.chrys-background-color-mpl-magma-8-5 {
  background-color: #d1426e; }

.chrys-background-color-mpl-magma-8-6 {
  background-color: #f8755c; }

.chrys-background-color-mpl-magma-8-7 {
  background-color: #feb97f; }

.chrys-background-color-mpl-magma-8-8 {
  background-color: #fbfcbf; }

.chrys-background-color-mpl-magma-9-1 {
  background-color: #000003; }

.chrys-background-color-mpl-magma-9-2 {
  background-color: #1b1044; }

.chrys-background-color-mpl-magma-9-3 {
  background-color: #4f117b; }

.chrys-background-color-mpl-magma-9-4 {
  background-color: #812581; }

.chrys-background-color-mpl-magma-9-5 {
  background-color: #b53679; }

.chrys-background-color-mpl-magma-9-6 {
  background-color: #e55063; }

.chrys-background-color-mpl-magma-9-7 {
  background-color: #fb8660; }

.chrys-background-color-mpl-magma-9-8 {
  background-color: #fec286; }

.chrys-background-color-mpl-magma-9-9 {
  background-color: #fbfcbf; }

.chrys-background-color-mpl-magma-10-1 {
  background-color: #000003; }

.chrys-background-color-mpl-magma-10-2 {
  background-color: #170f3c; }

.chrys-background-color-mpl-magma-10-3 {
  background-color: #430f75; }

.chrys-background-color-mpl-magma-10-4 {
  background-color: #711f81; }

.chrys-background-color-mpl-magma-10-5 {
  background-color: #9e2e7e; }

.chrys-background-color-mpl-magma-10-6 {
  background-color: #cb3e71; }

.chrys-background-color-mpl-magma-10-7 {
  background-color: #f0605d; }

.chrys-background-color-mpl-magma-10-8 {
  background-color: #fc9366; }

.chrys-background-color-mpl-magma-10-9 {
  background-color: #fec78b; }

.chrys-background-color-mpl-magma-10-10 {
  background-color: #fbfcbf; }

.chrys-background-color-mpl-magma-11-1 {
  background-color: #000003; }

.chrys-background-color-mpl-magma-11-2 {
  background-color: #140d35; }

.chrys-background-color-mpl-magma-11-3 {
  background-color: #3b0f6f; }

.chrys-background-color-mpl-magma-11-4 {
  background-color: #63197f; }

.chrys-background-color-mpl-magma-11-5 {
  background-color: #8c2980; }

.chrys-background-color-mpl-magma-11-6 {
  background-color: #b53679; }

.chrys-background-color-mpl-magma-11-7 {
  background-color: #dd4968; }

.chrys-background-color-mpl-magma-11-8 {
  background-color: #f66e5b; }

.chrys-background-color-mpl-magma-11-9 {
  background-color: #fd9f6c; }

.chrys-background-color-mpl-magma-11-10 {
  background-color: #fdcd90; }

.chrys-background-color-mpl-magma-11-11 {
  background-color: #fbfcbf; }
