.chrys-background-color-mpl-viridis-3-1 {
  background-color: #440154; }

.chrys-background-color-mpl-viridis-3-2 {
  background-color: #208f8c; }

.chrys-background-color-mpl-viridis-3-3 {
  background-color: #fde724; }

.chrys-background-color-mpl-viridis-4-1 {
  background-color: #440154; }

.chrys-background-color-mpl-viridis-4-2 {
  background-color: #30678d; }

.chrys-background-color-mpl-viridis-4-3 {
  background-color: #35b778; }

.chrys-background-color-mpl-viridis-4-4 {
  background-color: #fde724; }

.chrys-background-color-mpl-viridis-5-1 {
  background-color: #440154; }

.chrys-background-color-mpl-viridis-5-2 {
  background-color: #3b518a; }

.chrys-background-color-mpl-viridis-5-3 {
  background-color: #208f8c; }

.chrys-background-color-mpl-viridis-5-4 {
  background-color: #5bc862; }

.chrys-background-color-mpl-viridis-5-5 {
  background-color: #fde724; }

.chrys-background-color-mpl-viridis-6-1 {
  background-color: #440154; }

.chrys-background-color-mpl-viridis-6-2 {
  background-color: #404387; }

.chrys-background-color-mpl-viridis-6-3 {
  background-color: #29788e; }

.chrys-background-color-mpl-viridis-6-4 {
  background-color: #22a784; }

.chrys-background-color-mpl-viridis-6-5 {
  background-color: #79d151; }

.chrys-background-color-mpl-viridis-6-6 {
  background-color: #fde724; }

.chrys-background-color-mpl-viridis-7-1 {
  background-color: #440154; }

.chrys-background-color-mpl-viridis-7-2 {
  background-color: #443982; }

.chrys-background-color-mpl-viridis-7-3 {
  background-color: #30678d; }

.chrys-background-color-mpl-viridis-7-4 {
  background-color: #208f8c; }

.chrys-background-color-mpl-viridis-7-5 {
  background-color: #35b778; }

.chrys-background-color-mpl-viridis-7-6 {
  background-color: #8dd644; }

.chrys-background-color-mpl-viridis-7-7 {
  background-color: #fde724; }

.chrys-background-color-mpl-viridis-8-1 {
  background-color: #440154; }

.chrys-background-color-mpl-viridis-8-2 {
  background-color: #46317e; }

.chrys-background-color-mpl-viridis-8-3 {
  background-color: #365a8c; }

.chrys-background-color-mpl-viridis-8-4 {
  background-color: #277e8e; }

.chrys-background-color-mpl-viridis-8-5 {
  background-color: #1ea087; }

.chrys-background-color-mpl-viridis-8-6 {
  background-color: #49c16d; }

.chrys-background-color-mpl-viridis-8-7 {
  background-color: #9dd93a; }

.chrys-background-color-mpl-viridis-8-8 {
  background-color: #fde724; }

.chrys-background-color-mpl-viridis-9-1 {
  background-color: #440154; }

.chrys-background-color-mpl-viridis-9-2 {
  background-color: #472b7a; }

.chrys-background-color-mpl-viridis-9-3 {
  background-color: #3b518a; }

.chrys-background-color-mpl-viridis-9-4 {
  background-color: #2c718e; }

.chrys-background-color-mpl-viridis-9-5 {
  background-color: #208f8c; }

.chrys-background-color-mpl-viridis-9-6 {
  background-color: #27ad80; }

.chrys-background-color-mpl-viridis-9-7 {
  background-color: #5bc862; }

.chrys-background-color-mpl-viridis-9-8 {
  background-color: #aadb32; }

.chrys-background-color-mpl-viridis-9-9 {
  background-color: #fde724; }

.chrys-background-color-mpl-viridis-10-1 {
  background-color: #440154; }

.chrys-background-color-mpl-viridis-10-2 {
  background-color: #472777; }

.chrys-background-color-mpl-viridis-10-3 {
  background-color: #3e4989; }

.chrys-background-color-mpl-viridis-10-4 {
  background-color: #30678d; }

.chrys-background-color-mpl-viridis-10-5 {
  background-color: #25828e; }

.chrys-background-color-mpl-viridis-10-6 {
  background-color: #1e9c89; }

.chrys-background-color-mpl-viridis-10-7 {
  background-color: #35b778; }

.chrys-background-color-mpl-viridis-10-8 {
  background-color: #6bcd59; }

.chrys-background-color-mpl-viridis-10-9 {
  background-color: #b2dd2c; }

.chrys-background-color-mpl-viridis-10-10 {
  background-color: #fde724; }

.chrys-background-color-mpl-viridis-11-1 {
  background-color: #440154; }

.chrys-background-color-mpl-viridis-11-2 {
  background-color: #482374; }

.chrys-background-color-mpl-viridis-11-3 {
  background-color: #404387; }

.chrys-background-color-mpl-viridis-11-4 {
  background-color: #345e8d; }

.chrys-background-color-mpl-viridis-11-5 {
  background-color: #29788e; }

.chrys-background-color-mpl-viridis-11-6 {
  background-color: #208f8c; }

.chrys-background-color-mpl-viridis-11-7 {
  background-color: #22a784; }

.chrys-background-color-mpl-viridis-11-8 {
  background-color: #42be71; }

.chrys-background-color-mpl-viridis-11-9 {
  background-color: #79d151; }

.chrys-background-color-mpl-viridis-11-10 {
  background-color: #bade27; }

.chrys-background-color-mpl-viridis-11-11 {
  background-color: #fde724; }
