.chrys-color-brewer-rdylbu-3-1 {
  color: #91bfdb; }

.chrys-color-brewer-rdylbu-3-2 {
  color: #ffffbf; }

.chrys-color-brewer-rdylbu-3-3 {
  color: #fc8d59; }

.chrys-color-brewer-rdylbu-4-1 {
  color: #2c7bb6; }

.chrys-color-brewer-rdylbu-4-2 {
  color: #abd9e9; }

.chrys-color-brewer-rdylbu-4-3 {
  color: #fdae61; }

.chrys-color-brewer-rdylbu-4-4 {
  color: #d7191c; }

.chrys-color-brewer-rdylbu-5-1 {
  color: #2c7bb6; }

.chrys-color-brewer-rdylbu-5-2 {
  color: #abd9e9; }

.chrys-color-brewer-rdylbu-5-3 {
  color: #ffffbf; }

.chrys-color-brewer-rdylbu-5-4 {
  color: #fdae61; }

.chrys-color-brewer-rdylbu-5-5 {
  color: #d7191c; }

.chrys-color-brewer-rdylbu-6-1 {
  color: #4575b4; }

.chrys-color-brewer-rdylbu-6-2 {
  color: #91bfdb; }

.chrys-color-brewer-rdylbu-6-3 {
  color: #e0f3f8; }

.chrys-color-brewer-rdylbu-6-4 {
  color: #fee090; }

.chrys-color-brewer-rdylbu-6-5 {
  color: #fc8d59; }

.chrys-color-brewer-rdylbu-6-6 {
  color: #d73027; }

.chrys-color-brewer-rdylbu-7-1 {
  color: #4575b4; }

.chrys-color-brewer-rdylbu-7-2 {
  color: #91bfdb; }

.chrys-color-brewer-rdylbu-7-3 {
  color: #e0f3f8; }

.chrys-color-brewer-rdylbu-7-4 {
  color: #ffffbf; }

.chrys-color-brewer-rdylbu-7-5 {
  color: #fee090; }

.chrys-color-brewer-rdylbu-7-6 {
  color: #fc8d59; }

.chrys-color-brewer-rdylbu-7-7 {
  color: #d73027; }

.chrys-color-brewer-rdylbu-8-1 {
  color: #4575b4; }

.chrys-color-brewer-rdylbu-8-2 {
  color: #74add1; }

.chrys-color-brewer-rdylbu-8-3 {
  color: #abd9e9; }

.chrys-color-brewer-rdylbu-8-4 {
  color: #e0f3f8; }

.chrys-color-brewer-rdylbu-8-5 {
  color: #fee090; }

.chrys-color-brewer-rdylbu-8-6 {
  color: #fdae61; }

.chrys-color-brewer-rdylbu-8-7 {
  color: #f46d43; }

.chrys-color-brewer-rdylbu-8-8 {
  color: #d73027; }

.chrys-color-brewer-rdylbu-9-1 {
  color: #4575b4; }

.chrys-color-brewer-rdylbu-9-2 {
  color: #74add1; }

.chrys-color-brewer-rdylbu-9-3 {
  color: #abd9e9; }

.chrys-color-brewer-rdylbu-9-4 {
  color: #e0f3f8; }

.chrys-color-brewer-rdylbu-9-5 {
  color: #ffffbf; }

.chrys-color-brewer-rdylbu-9-6 {
  color: #fee090; }

.chrys-color-brewer-rdylbu-9-7 {
  color: #fdae61; }

.chrys-color-brewer-rdylbu-9-8 {
  color: #f46d43; }

.chrys-color-brewer-rdylbu-9-9 {
  color: #d73027; }

.chrys-color-brewer-rdylbu-10-1 {
  color: #313695; }

.chrys-color-brewer-rdylbu-10-2 {
  color: #4575b4; }

.chrys-color-brewer-rdylbu-10-3 {
  color: #74add1; }

.chrys-color-brewer-rdylbu-10-4 {
  color: #abd9e9; }

.chrys-color-brewer-rdylbu-10-5 {
  color: #e0f3f8; }

.chrys-color-brewer-rdylbu-10-6 {
  color: #fee090; }

.chrys-color-brewer-rdylbu-10-7 {
  color: #fdae61; }

.chrys-color-brewer-rdylbu-10-8 {
  color: #f46d43; }

.chrys-color-brewer-rdylbu-10-9 {
  color: #d73027; }

.chrys-color-brewer-rdylbu-10-10 {
  color: #a50026; }

.chrys-color-brewer-rdylbu-11-1 {
  color: #313695; }

.chrys-color-brewer-rdylbu-11-2 {
  color: #4575b4; }

.chrys-color-brewer-rdylbu-11-3 {
  color: #74add1; }

.chrys-color-brewer-rdylbu-11-4 {
  color: #abd9e9; }

.chrys-color-brewer-rdylbu-11-5 {
  color: #e0f3f8; }

.chrys-color-brewer-rdylbu-11-6 {
  color: #ffffbf; }

.chrys-color-brewer-rdylbu-11-7 {
  color: #fee090; }

.chrys-color-brewer-rdylbu-11-8 {
  color: #fdae61; }

.chrys-color-brewer-rdylbu-11-9 {
  color: #f46d43; }

.chrys-color-brewer-rdylbu-11-10 {
  color: #d73027; }

.chrys-color-brewer-rdylbu-11-11 {
  color: #a50026; }
