.chrys-color-brewer-gnbu-3-1 {
  color: #43a2ca; }

.chrys-color-brewer-gnbu-3-2 {
  color: #a8ddb5; }

.chrys-color-brewer-gnbu-3-3 {
  color: #e0f3db; }

.chrys-color-brewer-gnbu-4-1 {
  color: #2b8cbe; }

.chrys-color-brewer-gnbu-4-2 {
  color: #7bccc4; }

.chrys-color-brewer-gnbu-4-3 {
  color: #bae4bc; }

.chrys-color-brewer-gnbu-4-4 {
  color: #f0f9e8; }

.chrys-color-brewer-gnbu-5-1 {
  color: #0868ac; }

.chrys-color-brewer-gnbu-5-2 {
  color: #43a2ca; }

.chrys-color-brewer-gnbu-5-3 {
  color: #7bccc4; }

.chrys-color-brewer-gnbu-5-4 {
  color: #bae4bc; }

.chrys-color-brewer-gnbu-5-5 {
  color: #f0f9e8; }

.chrys-color-brewer-gnbu-6-1 {
  color: #0868ac; }

.chrys-color-brewer-gnbu-6-2 {
  color: #43a2ca; }

.chrys-color-brewer-gnbu-6-3 {
  color: #7bccc4; }

.chrys-color-brewer-gnbu-6-4 {
  color: #a8ddb5; }

.chrys-color-brewer-gnbu-6-5 {
  color: #ccebc5; }

.chrys-color-brewer-gnbu-6-6 {
  color: #f0f9e8; }

.chrys-color-brewer-gnbu-7-1 {
  color: #08589e; }

.chrys-color-brewer-gnbu-7-2 {
  color: #2b8cbe; }

.chrys-color-brewer-gnbu-7-3 {
  color: #4eb3d3; }

.chrys-color-brewer-gnbu-7-4 {
  color: #7bccc4; }

.chrys-color-brewer-gnbu-7-5 {
  color: #a8ddb5; }

.chrys-color-brewer-gnbu-7-6 {
  color: #ccebc5; }

.chrys-color-brewer-gnbu-7-7 {
  color: #f0f9e8; }

.chrys-color-brewer-gnbu-8-1 {
  color: #08589e; }

.chrys-color-brewer-gnbu-8-2 {
  color: #2b8cbe; }

.chrys-color-brewer-gnbu-8-3 {
  color: #4eb3d3; }

.chrys-color-brewer-gnbu-8-4 {
  color: #7bccc4; }

.chrys-color-brewer-gnbu-8-5 {
  color: #a8ddb5; }

.chrys-color-brewer-gnbu-8-6 {
  color: #ccebc5; }

.chrys-color-brewer-gnbu-8-7 {
  color: #e0f3db; }

.chrys-color-brewer-gnbu-8-8 {
  color: #f7fcf0; }

.chrys-color-brewer-gnbu-9-1 {
  color: #084081; }

.chrys-color-brewer-gnbu-9-2 {
  color: #0868ac; }

.chrys-color-brewer-gnbu-9-3 {
  color: #2b8cbe; }

.chrys-color-brewer-gnbu-9-4 {
  color: #4eb3d3; }

.chrys-color-brewer-gnbu-9-5 {
  color: #7bccc4; }

.chrys-color-brewer-gnbu-9-6 {
  color: #a8ddb5; }

.chrys-color-brewer-gnbu-9-7 {
  color: #ccebc5; }

.chrys-color-brewer-gnbu-9-8 {
  color: #e0f3db; }

.chrys-color-brewer-gnbu-9-9 {
  color: #f7fcf0; }
