.chrys-color-brewer-ylorbr-3-1 {
  color: #d95f0e; }

.chrys-color-brewer-ylorbr-3-2 {
  color: #fec44f; }

.chrys-color-brewer-ylorbr-3-3 {
  color: #fff7bc; }

.chrys-color-brewer-ylorbr-4-1 {
  color: #cc4c02; }

.chrys-color-brewer-ylorbr-4-2 {
  color: #fe9929; }

.chrys-color-brewer-ylorbr-4-3 {
  color: #fed98e; }

.chrys-color-brewer-ylorbr-4-4 {
  color: #ffffd4; }

.chrys-color-brewer-ylorbr-5-1 {
  color: #993404; }

.chrys-color-brewer-ylorbr-5-2 {
  color: #d95f0e; }

.chrys-color-brewer-ylorbr-5-3 {
  color: #fe9929; }

.chrys-color-brewer-ylorbr-5-4 {
  color: #fed98e; }

.chrys-color-brewer-ylorbr-5-5 {
  color: #ffffd4; }

.chrys-color-brewer-ylorbr-6-1 {
  color: #993404; }

.chrys-color-brewer-ylorbr-6-2 {
  color: #d95f0e; }

.chrys-color-brewer-ylorbr-6-3 {
  color: #fe9929; }

.chrys-color-brewer-ylorbr-6-4 {
  color: #fec44f; }

.chrys-color-brewer-ylorbr-6-5 {
  color: #fee391; }

.chrys-color-brewer-ylorbr-6-6 {
  color: #ffffd4; }

.chrys-color-brewer-ylorbr-7-1 {
  color: #8c2d04; }

.chrys-color-brewer-ylorbr-7-2 {
  color: #cc4c02; }

.chrys-color-brewer-ylorbr-7-3 {
  color: #ec7014; }

.chrys-color-brewer-ylorbr-7-4 {
  color: #fe9929; }

.chrys-color-brewer-ylorbr-7-5 {
  color: #fec44f; }

.chrys-color-brewer-ylorbr-7-6 {
  color: #fee391; }

.chrys-color-brewer-ylorbr-7-7 {
  color: #ffffd4; }

.chrys-color-brewer-ylorbr-8-1 {
  color: #8c2d04; }

.chrys-color-brewer-ylorbr-8-2 {
  color: #cc4c02; }

.chrys-color-brewer-ylorbr-8-3 {
  color: #ec7014; }

.chrys-color-brewer-ylorbr-8-4 {
  color: #fe9929; }

.chrys-color-brewer-ylorbr-8-5 {
  color: #fec44f; }

.chrys-color-brewer-ylorbr-8-6 {
  color: #fee391; }

.chrys-color-brewer-ylorbr-8-7 {
  color: #fff7bc; }

.chrys-color-brewer-ylorbr-8-8 {
  color: #ffffe5; }

.chrys-color-brewer-ylorbr-9-1 {
  color: #662506; }

.chrys-color-brewer-ylorbr-9-2 {
  color: #993404; }

.chrys-color-brewer-ylorbr-9-3 {
  color: #cc4c02; }

.chrys-color-brewer-ylorbr-9-4 {
  color: #ec7014; }

.chrys-color-brewer-ylorbr-9-5 {
  color: #fe9929; }

.chrys-color-brewer-ylorbr-9-6 {
  color: #fec44f; }

.chrys-color-brewer-ylorbr-9-7 {
  color: #fee391; }

.chrys-color-brewer-ylorbr-9-8 {
  color: #fff7bc; }

.chrys-color-brewer-ylorbr-9-9 {
  color: #ffffe5; }
