<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>chrys</title>
    <link rel="stylesheet" href="css/normalize.css"/>
    <link rel="stylesheet" href="css/background-color.min.css"/>
    <link rel="stylesheet" href="css/demo.min.css"/>
  </head>
  <body>
    <main>
      <table class="table">
      {% for name, sizes in colors %}
        {% for size, items in sizes %}
          <tr>
            <th class="var">
              {{ name }} {{ size|replace("_", "") }}
            </th>
            {% for index, item in items %}
              <td class="color">
                <div class="swatch chrys-background-color-{{ name }}-{{ size|replace("_", "") }}-{{ index|replace("_", "") }}"></div>
                <div class="hex">{{ item }}</div>
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
      {% endfor %}
      </table>
    </main>
  </body>
</html>
