<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>chrys</title>
    <link rel="stylesheet" href="css/normalize.css"/>
    <link rel="stylesheet" href="css/background-color.min.css"/>
    <link rel="stylesheet" href="css/demo.min.css"/>
  </head>
  <body>
    <main>
      <table class="table">
      {% for palette in palettes %}
        {% for size in palette.sizes %}
          <tr>
            <th class="var">
              {{ palette.name }} {{ size.size }}
            </th>
            {% for color in size.colors %}
              <td class="color">
                <div class="swatch chrys-background-color-{{ palette.name }}-{{ size.size }}-{{ loop.index }}"></div>
                <div class="hex">{{ color }}</div>
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
      {% endfor %}
      </table>
    </main>
  </body>
</html>
