<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>chrys</title>
    <link rel="stylesheet" href="css/normalize.css"/>
    <link rel="stylesheet" href="css/background-color.min.css"/>
    <link rel="stylesheet" href="css/demo.min.css"/>
  </head>
  <body>
    <header class="header">
      <h1 class="heading">chrys</h1>

      <nav class="nav">
        {% for collection in collections %}
        <ul>
          <li>
            <a href="#{{ collection.name }}">{{ collection.name }}</a>
            <ul>
            {% for palette in collection.palettes %}
              <li>
                <a href="#{{ palette.name }}">{{ palette.name }}</a>
              </li>
            {% endfor %}
            </ul>
          </li>
        </ul>
        {% endfor %}
      </nav>
    </header>

    <main class="main">
      <section>
        <table class="table">
          {% for collection in collections %}
            <tr class="h3">
              <td colspan="21" id="{{ collection.name }}">
                <h3>{{ collection.name }}</h3>
              </td>
            </tr>
            {% for palette in collection.palettes %}
              <tr class="h4">
                <td colspan="21" id="{{ palette.name }}">
                  <h4 class="palette-name">{{ palette.name }}</h4>
                </td>
              </tr>
              {% for size in palette.sizes %}
                <tr>
                  <th class="palette-size">
                    {{ size.name }}
                  </th>
                  {% for color in size.colors %}
                    <td class="swatch-wrapper">
                      <div class="swatch chrys-background-color-{{ palette.name }}-{{ size.name }}-{{ loop.index }}">
                        <div class="hex" style="color: {{ color|bestContrast }};">{{ color }}</div>
                      </div>
                    </td>
                  {% endfor %}
                </tr>
              {% endfor %}
            {% endfor %}
          {% endfor %}
        </table>
      </section>
    </main>
  </body>
</html>
