.chrys-color-brewer-prgn-3-1 {
  color: #7fbf7b; }

.chrys-color-brewer-prgn-3-2 {
  color: #f7f7f7; }

.chrys-color-brewer-prgn-3-3 {
  color: #af8dc3; }

.chrys-color-brewer-prgn-4-1 {
  color: #008837; }

.chrys-color-brewer-prgn-4-2 {
  color: #a6dba0; }

.chrys-color-brewer-prgn-4-3 {
  color: #c2a5cf; }

.chrys-color-brewer-prgn-4-4 {
  color: #7b3294; }

.chrys-color-brewer-prgn-5-1 {
  color: #008837; }

.chrys-color-brewer-prgn-5-2 {
  color: #a6dba0; }

.chrys-color-brewer-prgn-5-3 {
  color: #f7f7f7; }

.chrys-color-brewer-prgn-5-4 {
  color: #c2a5cf; }

.chrys-color-brewer-prgn-5-5 {
  color: #7b3294; }

.chrys-color-brewer-prgn-6-1 {
  color: #1b7837; }

.chrys-color-brewer-prgn-6-2 {
  color: #7fbf7b; }

.chrys-color-brewer-prgn-6-3 {
  color: #d9f0d3; }

.chrys-color-brewer-prgn-6-4 {
  color: #e7d4e8; }

.chrys-color-brewer-prgn-6-5 {
  color: #af8dc3; }

.chrys-color-brewer-prgn-6-6 {
  color: #762a83; }

.chrys-color-brewer-prgn-7-1 {
  color: #1b7837; }

.chrys-color-brewer-prgn-7-2 {
  color: #7fbf7b; }

.chrys-color-brewer-prgn-7-3 {
  color: #d9f0d3; }

.chrys-color-brewer-prgn-7-4 {
  color: #f7f7f7; }

.chrys-color-brewer-prgn-7-5 {
  color: #e7d4e8; }

.chrys-color-brewer-prgn-7-6 {
  color: #af8dc3; }

.chrys-color-brewer-prgn-7-7 {
  color: #762a83; }

.chrys-color-brewer-prgn-8-1 {
  color: #1b7837; }

.chrys-color-brewer-prgn-8-2 {
  color: #5aae61; }

.chrys-color-brewer-prgn-8-3 {
  color: #a6dba0; }

.chrys-color-brewer-prgn-8-4 {
  color: #d9f0d3; }

.chrys-color-brewer-prgn-8-5 {
  color: #e7d4e8; }

.chrys-color-brewer-prgn-8-6 {
  color: #c2a5cf; }

.chrys-color-brewer-prgn-8-7 {
  color: #9970ab; }

.chrys-color-brewer-prgn-8-8 {
  color: #762a83; }

.chrys-color-brewer-prgn-9-1 {
  color: #1b7837; }

.chrys-color-brewer-prgn-9-2 {
  color: #5aae61; }

.chrys-color-brewer-prgn-9-3 {
  color: #a6dba0; }

.chrys-color-brewer-prgn-9-4 {
  color: #d9f0d3; }

.chrys-color-brewer-prgn-9-5 {
  color: #f7f7f7; }

.chrys-color-brewer-prgn-9-6 {
  color: #e7d4e8; }

.chrys-color-brewer-prgn-9-7 {
  color: #c2a5cf; }

.chrys-color-brewer-prgn-9-8 {
  color: #9970ab; }

.chrys-color-brewer-prgn-9-9 {
  color: #762a83; }

.chrys-color-brewer-prgn-10-1 {
  color: #00441b; }

.chrys-color-brewer-prgn-10-2 {
  color: #1b7837; }

.chrys-color-brewer-prgn-10-3 {
  color: #5aae61; }

.chrys-color-brewer-prgn-10-4 {
  color: #a6dba0; }

.chrys-color-brewer-prgn-10-5 {
  color: #d9f0d3; }

.chrys-color-brewer-prgn-10-6 {
  color: #e7d4e8; }

.chrys-color-brewer-prgn-10-7 {
  color: #c2a5cf; }

.chrys-color-brewer-prgn-10-8 {
  color: #9970ab; }

.chrys-color-brewer-prgn-10-9 {
  color: #762a83; }

.chrys-color-brewer-prgn-10-10 {
  color: #40004b; }

.chrys-color-brewer-prgn-11-1 {
  color: #00441b; }

.chrys-color-brewer-prgn-11-2 {
  color: #1b7837; }

.chrys-color-brewer-prgn-11-3 {
  color: #5aae61; }

.chrys-color-brewer-prgn-11-4 {
  color: #a6dba0; }

.chrys-color-brewer-prgn-11-5 {
  color: #d9f0d3; }

.chrys-color-brewer-prgn-11-6 {
  color: #f7f7f7; }

.chrys-color-brewer-prgn-11-7 {
  color: #e7d4e8; }

.chrys-color-brewer-prgn-11-8 {
  color: #c2a5cf; }

.chrys-color-brewer-prgn-11-9 {
  color: #9970ab; }

.chrys-color-brewer-prgn-11-10 {
  color: #762a83; }

.chrys-color-brewer-prgn-11-11 {
  color: #40004b; }
