.chrys-color-brewer-pubugn-3-1 {
  color: #1c9099; }

.chrys-color-brewer-pubugn-3-2 {
  color: #a6bddb; }

.chrys-color-brewer-pubugn-3-3 {
  color: #ece2f0; }

.chrys-color-brewer-pubugn-4-1 {
  color: #02818a; }

.chrys-color-brewer-pubugn-4-2 {
  color: #67a9cf; }

.chrys-color-brewer-pubugn-4-3 {
  color: #bdc9e1; }

.chrys-color-brewer-pubugn-4-4 {
  color: #f6eff7; }

.chrys-color-brewer-pubugn-5-1 {
  color: #016c59; }

.chrys-color-brewer-pubugn-5-2 {
  color: #1c9099; }

.chrys-color-brewer-pubugn-5-3 {
  color: #67a9cf; }

.chrys-color-brewer-pubugn-5-4 {
  color: #bdc9e1; }

.chrys-color-brewer-pubugn-5-5 {
  color: #f6eff7; }

.chrys-color-brewer-pubugn-6-1 {
  color: #016c59; }

.chrys-color-brewer-pubugn-6-2 {
  color: #1c9099; }

.chrys-color-brewer-pubugn-6-3 {
  color: #67a9cf; }

.chrys-color-brewer-pubugn-6-4 {
  color: #a6bddb; }

.chrys-color-brewer-pubugn-6-5 {
  color: #d0d1e6; }

.chrys-color-brewer-pubugn-6-6 {
  color: #f6eff7; }

.chrys-color-brewer-pubugn-7-1 {
  color: #016450; }

.chrys-color-brewer-pubugn-7-2 {
  color: #02818a; }

.chrys-color-brewer-pubugn-7-3 {
  color: #3690c0; }

.chrys-color-brewer-pubugn-7-4 {
  color: #67a9cf; }

.chrys-color-brewer-pubugn-7-5 {
  color: #a6bddb; }

.chrys-color-brewer-pubugn-7-6 {
  color: #d0d1e6; }

.chrys-color-brewer-pubugn-7-7 {
  color: #f6eff7; }

.chrys-color-brewer-pubugn-8-1 {
  color: #016450; }

.chrys-color-brewer-pubugn-8-2 {
  color: #02818a; }

.chrys-color-brewer-pubugn-8-3 {
  color: #3690c0; }

.chrys-color-brewer-pubugn-8-4 {
  color: #67a9cf; }

.chrys-color-brewer-pubugn-8-5 {
  color: #a6bddb; }

.chrys-color-brewer-pubugn-8-6 {
  color: #d0d1e6; }

.chrys-color-brewer-pubugn-8-7 {
  color: #ece2f0; }

.chrys-color-brewer-pubugn-8-8 {
  color: #fff7fb; }

.chrys-color-brewer-pubugn-9-1 {
  color: #014636; }

.chrys-color-brewer-pubugn-9-2 {
  color: #016c59; }

.chrys-color-brewer-pubugn-9-3 {
  color: #02818a; }

.chrys-color-brewer-pubugn-9-4 {
  color: #3690c0; }

.chrys-color-brewer-pubugn-9-5 {
  color: #67a9cf; }

.chrys-color-brewer-pubugn-9-6 {
  color: #a6bddb; }

.chrys-color-brewer-pubugn-9-7 {
  color: #d0d1e6; }

.chrys-color-brewer-pubugn-9-8 {
  color: #ece2f0; }

.chrys-color-brewer-pubugn-9-9 {
  color: #fff7fb; }
