.chrys-color-brewer-ylorrd-3-1 {
  color: #f03b20; }

.chrys-color-brewer-ylorrd-3-2 {
  color: #feb24c; }

.chrys-color-brewer-ylorrd-3-3 {
  color: #ffeda0; }

.chrys-color-brewer-ylorrd-4-1 {
  color: #e31a1c; }

.chrys-color-brewer-ylorrd-4-2 {
  color: #fd8d3c; }

.chrys-color-brewer-ylorrd-4-3 {
  color: #fecc5c; }

.chrys-color-brewer-ylorrd-4-4 {
  color: #ffffb2; }

.chrys-color-brewer-ylorrd-5-1 {
  color: #bd0026; }

.chrys-color-brewer-ylorrd-5-2 {
  color: #f03b20; }

.chrys-color-brewer-ylorrd-5-3 {
  color: #fd8d3c; }

.chrys-color-brewer-ylorrd-5-4 {
  color: #fecc5c; }

.chrys-color-brewer-ylorrd-5-5 {
  color: #ffffb2; }

.chrys-color-brewer-ylorrd-6-1 {
  color: #bd0026; }

.chrys-color-brewer-ylorrd-6-2 {
  color: #f03b20; }

.chrys-color-brewer-ylorrd-6-3 {
  color: #fd8d3c; }

.chrys-color-brewer-ylorrd-6-4 {
  color: #feb24c; }

.chrys-color-brewer-ylorrd-6-5 {
  color: #fed976; }

.chrys-color-brewer-ylorrd-6-6 {
  color: #ffffb2; }

.chrys-color-brewer-ylorrd-7-1 {
  color: #b10026; }

.chrys-color-brewer-ylorrd-7-2 {
  color: #e31a1c; }

.chrys-color-brewer-ylorrd-7-3 {
  color: #fc4e2a; }

.chrys-color-brewer-ylorrd-7-4 {
  color: #fd8d3c; }

.chrys-color-brewer-ylorrd-7-5 {
  color: #feb24c; }

.chrys-color-brewer-ylorrd-7-6 {
  color: #fed976; }

.chrys-color-brewer-ylorrd-7-7 {
  color: #ffffb2; }

.chrys-color-brewer-ylorrd-8-1 {
  color: #b10026; }

.chrys-color-brewer-ylorrd-8-2 {
  color: #e31a1c; }

.chrys-color-brewer-ylorrd-8-3 {
  color: #fc4e2a; }

.chrys-color-brewer-ylorrd-8-4 {
  color: #fd8d3c; }

.chrys-color-brewer-ylorrd-8-5 {
  color: #feb24c; }

.chrys-color-brewer-ylorrd-8-6 {
  color: #fed976; }

.chrys-color-brewer-ylorrd-8-7 {
  color: #ffeda0; }

.chrys-color-brewer-ylorrd-8-8 {
  color: #ffffcc; }

.chrys-color-brewer-ylorrd-9-1 {
  color: #800026; }

.chrys-color-brewer-ylorrd-9-2 {
  color: #bd0026; }

.chrys-color-brewer-ylorrd-9-3 {
  color: #e31a1c; }

.chrys-color-brewer-ylorrd-9-4 {
  color: #fc4e2a; }

.chrys-color-brewer-ylorrd-9-5 {
  color: #fd8d3c; }

.chrys-color-brewer-ylorrd-9-6 {
  color: #feb24c; }

.chrys-color-brewer-ylorrd-9-7 {
  color: #fed976; }

.chrys-color-brewer-ylorrd-9-8 {
  color: #ffeda0; }

.chrys-color-brewer-ylorrd-9-9 {
  color: #ffffcc; }
