.chrys-color-brewer-ylgn-3-1 {
  color: #31a354; }

.chrys-color-brewer-ylgn-3-2 {
  color: #addd8e; }

.chrys-color-brewer-ylgn-3-3 {
  color: #f7fcb9; }

.chrys-color-brewer-ylgn-4-1 {
  color: #238443; }

.chrys-color-brewer-ylgn-4-2 {
  color: #78c679; }

.chrys-color-brewer-ylgn-4-3 {
  color: #c2e699; }

.chrys-color-brewer-ylgn-4-4 {
  color: #ffffcc; }

.chrys-color-brewer-ylgn-5-1 {
  color: #006837; }

.chrys-color-brewer-ylgn-5-2 {
  color: #31a354; }

.chrys-color-brewer-ylgn-5-3 {
  color: #78c679; }

.chrys-color-brewer-ylgn-5-4 {
  color: #c2e699; }

.chrys-color-brewer-ylgn-5-5 {
  color: #ffffcc; }

.chrys-color-brewer-ylgn-6-1 {
  color: #006837; }

.chrys-color-brewer-ylgn-6-2 {
  color: #31a354; }

.chrys-color-brewer-ylgn-6-3 {
  color: #78c679; }

.chrys-color-brewer-ylgn-6-4 {
  color: #addd8e; }

.chrys-color-brewer-ylgn-6-5 {
  color: #d9f0a3; }

.chrys-color-brewer-ylgn-6-6 {
  color: #ffffcc; }

.chrys-color-brewer-ylgn-7-1 {
  color: #005a32; }

.chrys-color-brewer-ylgn-7-2 {
  color: #238443; }

.chrys-color-brewer-ylgn-7-3 {
  color: #41ab5d; }

.chrys-color-brewer-ylgn-7-4 {
  color: #78c679; }

.chrys-color-brewer-ylgn-7-5 {
  color: #addd8e; }

.chrys-color-brewer-ylgn-7-6 {
  color: #d9f0a3; }

.chrys-color-brewer-ylgn-7-7 {
  color: #ffffcc; }

.chrys-color-brewer-ylgn-8-1 {
  color: #005a32; }

.chrys-color-brewer-ylgn-8-2 {
  color: #238443; }

.chrys-color-brewer-ylgn-8-3 {
  color: #41ab5d; }

.chrys-color-brewer-ylgn-8-4 {
  color: #78c679; }

.chrys-color-brewer-ylgn-8-5 {
  color: #addd8e; }

.chrys-color-brewer-ylgn-8-6 {
  color: #d9f0a3; }

.chrys-color-brewer-ylgn-8-7 {
  color: #f7fcb9; }

.chrys-color-brewer-ylgn-8-8 {
  color: #ffffe5; }

.chrys-color-brewer-ylgn-9-1 {
  color: #004529; }

.chrys-color-brewer-ylgn-9-2 {
  color: #006837; }

.chrys-color-brewer-ylgn-9-3 {
  color: #238443; }

.chrys-color-brewer-ylgn-9-4 {
  color: #41ab5d; }

.chrys-color-brewer-ylgn-9-5 {
  color: #78c679; }

.chrys-color-brewer-ylgn-9-6 {
  color: #addd8e; }

.chrys-color-brewer-ylgn-9-7 {
  color: #d9f0a3; }

.chrys-color-brewer-ylgn-9-8 {
  color: #f7fcb9; }

.chrys-color-brewer-ylgn-9-9 {
  color: #ffffe5; }
