.chrys-color-brewer-rdylgn-3-1 {
  color: #91cf60; }

.chrys-color-brewer-rdylgn-3-2 {
  color: #ffffbf; }

.chrys-color-brewer-rdylgn-3-3 {
  color: #fc8d59; }

.chrys-color-brewer-rdylgn-4-1 {
  color: #1a9641; }

.chrys-color-brewer-rdylgn-4-2 {
  color: #a6d96a; }

.chrys-color-brewer-rdylgn-4-3 {
  color: #fdae61; }

.chrys-color-brewer-rdylgn-4-4 {
  color: #d7191c; }

.chrys-color-brewer-rdylgn-5-1 {
  color: #1a9641; }

.chrys-color-brewer-rdylgn-5-2 {
  color: #a6d96a; }

.chrys-color-brewer-rdylgn-5-3 {
  color: #ffffbf; }

.chrys-color-brewer-rdylgn-5-4 {
  color: #fdae61; }

.chrys-color-brewer-rdylgn-5-5 {
  color: #d7191c; }

.chrys-color-brewer-rdylgn-6-1 {
  color: #1a9850; }

.chrys-color-brewer-rdylgn-6-2 {
  color: #91cf60; }

.chrys-color-brewer-rdylgn-6-3 {
  color: #d9ef8b; }

.chrys-color-brewer-rdylgn-6-4 {
  color: #fee08b; }

.chrys-color-brewer-rdylgn-6-5 {
  color: #fc8d59; }

.chrys-color-brewer-rdylgn-6-6 {
  color: #d73027; }

.chrys-color-brewer-rdylgn-7-1 {
  color: #1a9850; }

.chrys-color-brewer-rdylgn-7-2 {
  color: #91cf60; }

.chrys-color-brewer-rdylgn-7-3 {
  color: #d9ef8b; }

.chrys-color-brewer-rdylgn-7-4 {
  color: #ffffbf; }

.chrys-color-brewer-rdylgn-7-5 {
  color: #fee08b; }

.chrys-color-brewer-rdylgn-7-6 {
  color: #fc8d59; }

.chrys-color-brewer-rdylgn-7-7 {
  color: #d73027; }

.chrys-color-brewer-rdylgn-8-1 {
  color: #1a9850; }

.chrys-color-brewer-rdylgn-8-2 {
  color: #66bd63; }

.chrys-color-brewer-rdylgn-8-3 {
  color: #a6d96a; }

.chrys-color-brewer-rdylgn-8-4 {
  color: #d9ef8b; }

.chrys-color-brewer-rdylgn-8-5 {
  color: #fee08b; }

.chrys-color-brewer-rdylgn-8-6 {
  color: #fdae61; }

.chrys-color-brewer-rdylgn-8-7 {
  color: #f46d43; }

.chrys-color-brewer-rdylgn-8-8 {
  color: #d73027; }

.chrys-color-brewer-rdylgn-9-1 {
  color: #1a9850; }

.chrys-color-brewer-rdylgn-9-2 {
  color: #66bd63; }

.chrys-color-brewer-rdylgn-9-3 {
  color: #a6d96a; }

.chrys-color-brewer-rdylgn-9-4 {
  color: #d9ef8b; }

.chrys-color-brewer-rdylgn-9-5 {
  color: #ffffbf; }

.chrys-color-brewer-rdylgn-9-6 {
  color: #fee08b; }

.chrys-color-brewer-rdylgn-9-7 {
  color: #fdae61; }

.chrys-color-brewer-rdylgn-9-8 {
  color: #f46d43; }

.chrys-color-brewer-rdylgn-9-9 {
  color: #d73027; }

.chrys-color-brewer-rdylgn-10-1 {
  color: #006837; }

.chrys-color-brewer-rdylgn-10-2 {
  color: #1a9850; }

.chrys-color-brewer-rdylgn-10-3 {
  color: #66bd63; }

.chrys-color-brewer-rdylgn-10-4 {
  color: #a6d96a; }

.chrys-color-brewer-rdylgn-10-5 {
  color: #d9ef8b; }

.chrys-color-brewer-rdylgn-10-6 {
  color: #fee08b; }

.chrys-color-brewer-rdylgn-10-7 {
  color: #fdae61; }

.chrys-color-brewer-rdylgn-10-8 {
  color: #f46d43; }

.chrys-color-brewer-rdylgn-10-9 {
  color: #d73027; }

.chrys-color-brewer-rdylgn-10-10 {
  color: #a50026; }

.chrys-color-brewer-rdylgn-11-1 {
  color: #006837; }

.chrys-color-brewer-rdylgn-11-2 {
  color: #1a9850; }

.chrys-color-brewer-rdylgn-11-3 {
  color: #66bd63; }

.chrys-color-brewer-rdylgn-11-4 {
  color: #a6d96a; }

.chrys-color-brewer-rdylgn-11-5 {
  color: #d9ef8b; }

.chrys-color-brewer-rdylgn-11-6 {
  color: #ffffbf; }

.chrys-color-brewer-rdylgn-11-7 {
  color: #fee08b; }

.chrys-color-brewer-rdylgn-11-8 {
  color: #fdae61; }

.chrys-color-brewer-rdylgn-11-9 {
  color: #f46d43; }

.chrys-color-brewer-rdylgn-11-10 {
  color: #d73027; }

.chrys-color-brewer-rdylgn-11-11 {
  color: #a50026; }
